/* del.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */
html {
  box-sizing:border-box;
}

*,*:before,*:after {
  box-sizing:inherit;
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
  margin:0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
  display:block;
}

audio,canvas,progress,video {
  display:inline-block;
}

progress {
  vertical-align:baseline;
 }

audio:not([controls]){
  display:none;height:0
}

[hidden],template {
  display:none;
}

a {
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
}

a:active,a:hover{outline-width:0}

abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  text-decoration:underline dotted;
}

dfn {
  font-style:italic;
}

mark {
  background:#ff0;
  color:#000;
}

small {
  font-size:80%;
}

sub,sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub {
  bottom:-0.25em;
}

sup {
  top:-0.5em;
}

figure {
  margin:1em 40px
}

img {
  border-style:none;
}

svg:not(:root){overflow:hidden}

code,kbd,pre,samp {
  font-family:monospace,monospace;
  font-size:1em;
}

hr {
  box-sizing:content-box;
  height:0;
  overflow:visible;
}

button,input,select,textarea {
  font:inherit;
  margin:0;
}

optgroup {
  font-weight:bold;
}

button,input {
  overflow:visible;
}

button,select {
  text-transform:none;
}

button,html [type=button],[type=reset],[type=submit]{
  -webkit-appearance:button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{
  border-style:none;padding:0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline:1px dotted ButtonText;
}

fieldset {
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:.35em .625em .75em;
}

legend {
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal
}

textarea {
  overflow:auto;
}

[type=checkbox],[type=radio] {
  padding:0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height:auto;
}

[type=search]{
  -webkit-appearance:textfield;outline-offset:-2px;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance:none;
}

::-webkit-input-placeholder {
  color:inherit;
  opacity:0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit;
}

/* End extract */

html,body {font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;
}

html {
  overflow-x:hidden;
}

h1 {
  font-size:36px;
}

h2 {
  font-size:30px;
}

h3 {
  font-size:24px;
}

h4 {
  font-size:20px;
}

h5 {
font-size:18px;
}

h6 {font-size:16px;
}

.del-serif {
  font-family:serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight:400;
  margin:10px 0;
}

.del-wide {
  letter-spacing:4px;
}

hr {
  border:0;
  border-top:1px solid #eee;
  margin:20px 0;
}

.del-image {
  max-width:100%;
  height:auto;
}

img {
  margin-bottom:-5px;
}

a {
  color:inherit;
}

.del-table,.del-table-all {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  display:table;
}

.del-table-all {
  border:1px solid #ccc;
}

.del-bordered tr,.del-table-all tr {
  border-bottom:1px solid #ddd;
}

.del-striped tbody tr:nth-child(even){
  background-color:#f1f1f1;
}

.del-table-all tr:nth-child(odd) {
  background-color:#fff;
}

.del-table-all tr:nth-child(even) {
  background-color:#f1f1f1;
}

.del-hoverable tbody tr:hover,.del-ul.del-hoverable li:hover {
  background-color:#ccc;
}

.page-centered tr th,.page-centered tr td {
  text-align:center;
}

.del-table td,.del-table th,.del-table-all td,.del-table-all th {
  padding:8px 8px;
  display:table-cell;
  text-align:left;
  vertical-align:top;
}

.del-table th:first-child,.del-table td:first-child,.del-table-all th:first-child,.del-table-all td:first-child {
  padding-left:16px;
}

.page-button {
  border:none;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
}

.page-button:hover {
  color:#000;
  background-color:#ccc
}

.page-button {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.page-button:disabled {
  cursor:not-allowed;
  opacity:0.3;
}

:disabled {
  pointer-events:none;
}

.page-bar-block .del-dropdown-hover .page-button,.page-bar-block .del-dropdown-click .page-button {
  width:100%;
  text-align:left;
  padding:8px 16px;
}

.page-button:first-child,.del-dropdown-click:hover > .page-button:first-child {
  background-color:#ccc;
  color:#000;
}

.page-bar-block ,.page-bar-block {
  width:100%;
}

.page-bar-block .del-dropdown-hover .del-dropdown-content,.page-bar-block .del-dropdown-click .del-dropdown-content {
  min-width:100%;
}

.page-bar-block .del-dropdown-hover .page-button,.page-bar-block .del-dropdown-click .page-button {
  width:100%;
  text-align:left;
  padding:8px 16px;
}

.page-bar .page-button{
  white-space:normal;
}

.difficulty-button{
  border:none;
  display:inline-block;
  outline:0;
  padding:4px 8px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
}

.difficulty-button:hover{
  color:#000;
  background-color:#ccc;
}

.difficulty-button {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.difficulty-button:disabled{
  cursor:not-allowed;opacity:0.3
}

:disabled {
  pointer-events:none;
}

.page-bar-block .del-dropdown-hover .difficulty-button,.page-bar-block .del-dropdown-click .difficulty-button {
  width:100%;
  text-align:left;
  padding:4px 8px;
}

.difficulty-button:first-child,.del-dropdown-click:hover > .difficulty-button:first-child {
  background-color:#ccc;
  color:#000;
}

.page-bar-block ,.page-bar-block {
  width:100%;
}

.page-bar-block .del-dropdown-hover .del-dropdown-content,.page-bar-block .del-dropdown-click .del-dropdown-content {
  min-width:100%;
}

.page-bar-block .del-dropdown-hover .difficulty-button,.page-bar-block .del-dropdown-click .difficulty-button {
  width:100%;
  text-align:left;
  padding:4px 8px;
}

.page-bar .difficulty-button {
  white-space:normal;
}

.page-bar{
  width:100%;
  overflow:hidden;
}

.page-center .page-bar {
  display:inline-block;
  width:auto
}

.page-bar .page-bar-item {
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  outline:none;
  display:block
}

.page-bar .del-dropdown-hover .page-bar .del-dropdown-click {
  position:static;
  float:left;
}

.page-bar-block,.page-bar-item{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  outline:none;
  white-space:normal;
  float:none;
}

.page-bar-block.page-center,.page-bar-item{
  text-align:center;
}

.del-block{
  display:block;width:100%;
}

.pagecontent {
  max-width:980px;
  margin:auto;
}

.del-rest {
  overflow:hidden;
}

.page-row-padding,.page-row-padding>.page-row-padding>.page-third,.page-row-padding>
.pagetwothird,.page-row-padding>.page-row-padding>.page-row-padding> {
  padding:0 8px;
}

.page-container {
  padding:0.01em 16px;
}

.page-card,.page-card-2 {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.page-card-4:hover {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.page-opacity,.hover-opacity:hover {
  opacity:0.60;
}

.page-opacity-off,.hover-opacity-off:hover {
    opacity:1;
}

.page-opacity-max{
  opacity:0.25;
}

.page-opacity-min{
    opacity:0.75;
}

.page-xlarge{
  font-size:24px;
}
.pagejumbo {
  font-size:64px;
}

.page-left-align {
  text-align:center;
}

.page-center {
  text-align:center;
}

.pagemargin {
  margin:16px;
}

.pagemargin-top {
  margin-top:16px;
}

.pagemargin-bottom {
  margin-bottom:16px;
}

.pagemargin-left {
  margin-left:16px;
}

.pagemargin-right {
    margin-right:16px;
}

.padding-32-px {
  padding-top:32px;
  padding-bottom:32px;
}

.page-padding-64 {
  padding-top:64px;
  padding-bottom:64px;
}

/* Colors */

.page-orange,.del-hover-orange:hover {
  color:#000;
  background-color:#ff9800;
}

.page-black,.del-hover-black:hover {
  color:#fff;
  background-color:#000;
}

.page-text-grey:hover {
  color:#757575;
}
